<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

<!-- Social Metadata -->

  <meta content="your_facebook_app_id" property="fb:app_id">
  <meta content="{{ site.title }}" property="og:site_name">
  {% if post.title %}
    <meta content="{{ post.title }}" property="og:title">
  {% else %}
    <meta content="{{ site.title }}" property="og:title">
  {% endif %}
  {% if post.title %}
    <meta content="article" property="og:type">
  {% else %}
    <meta content="website" property="og:type">
  {% endif %}
  {% if post.description %}
    <meta content="{{ post.description }}" property="og:description">
  {% else %}
    <meta content="{{ site.description }}" property="og:description">
  {% endif %}
  {% if post.url %}
    <meta content="{{site.baseurl}}{{ post.url }}" property="og:url">
  {% endif %}
  {% if post.date %}
    <meta content="{{ post.date | date_to_xmlschema }}" property="article:published_time">
    <meta content="{{site.baseurl}}/about/" property="article:author">
  {% endif %}
  {% if post.img %}
    <meta content="/img/{{ post.img }}" property="og:image">
  {% else %}
    <meta content="/img/logo.png" property="og:image">
  {% endif %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{site.owner.twitter}}">
  <meta name="twitter:creator" content="@{{site.owner.twitter}}">
  {% if post.title %}
    <meta name="twitter:title" content="{{ post.title }}">
  {% else %}
    <meta name="twitter:title" content="{{ site.title }}">
  {% endif %}
  {% if post.url %}
    <meta name="twitter:url" content="{{site.baseurl}}{{ post.url }}">
  {% endif %}
  {% if post.description %}
    <meta name="twitter:description" content="{{ post.description }}">
  {% else %}
    <meta name="twitter:description" content="{{ site.description }}">
  {% endif %}
  {% if post.header-img %}
    <meta name="twitter:image:src" content="{{site.baseurl}}/{{ post.img }}">
  {% endif %}

  
  <link rel="stylesheet" href="{{ site.baseurl }}/css/reset.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">

  <script src="{{ site.baseurl }}/js/modernizr.js"></script> 
  


</head>
