<header class="header">
  <h1>
    <a href="{{ site.url }}{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
  </h1>
  <nav>
    <ul>
    {% for link in site.data.navigation %}{% if link.href == page.dir %} {% assign class = "current" %} {% else %} {% assign class = "normal" %} {% endif %}
      <li>
        <a href="{% if link.external == false %}{{ site.url }}{{ site.baseurl }}{{ link.href }}{% endif %}{% if link.external == true %}{{ link.href }}{% endif %}">{{ link.title }}</a>
      </li>
    {% endfor %}
    </ul>
  </nav>
</header>